NFS_CORE_PARAM
{
    mount_path_pseudo = true;
    Protocols = 3,4,9P;
}
LOG
{
    Default_Log_Level = WARN;
    Facility
    {
        name = FILE;
        destination = /var/log/ganesha/ganesha.log;
        enable = default;
    }
    Components
    {
    	ALL = WARN;
	EXPORT = DEBUG;
	RPC = DEBUG;
    }
}
EXPORT_DEFAULTS
{
	SecType = sys;
	Protocols = 4;
	Transports = TCP;
}
{% for export in exports -%}
EXPORT
{
    Export_Id = {{ loop.index }};
    Path = {{ export.path }};
    Pseudo = {{ export.path }};
    Disable_ACL = true;
    {% if export.access -%}
    Access_Type = {{ export.access }};
    {% endif -%}
    {%- if export.acls -%}
    {%- for acl in export.acls -%}
    {%- if acl.clients -%}
    CLIENT {
        Clients = {{ acl.clients }};
        Access_type = {{ acl.access }};
    }
    {% endif -%}
    {%- endfor -%}
    {%- endif -%}
    FSAL {
        Name = VFS;
    }
}
{% endfor %}
