NFS_CORE_PARAM
{
    mount_path_pseudo = true;
    Protocols = 3,4,9P;
}
LOG
{
    Default_Log_Level = WARN;
    Facility
    {
        name = STDOUT;
        destination = stdout;
        enable = active;
    }
}
{% for export in exports -%}
EXPORT
{
    Export_Id = {{ loop.index }};
    Path = {{ export.path }};
    Pseudo = {{ export.path }};
    {% if export.access -%}
    Access_Type = {{ export.access }};
    {% endif -%}
    {%- if export.acls -%}
    {%- for acl in export.acls -%}
    {%- if acl.clients -%}
    CLIENT {
        Access = {{ acl.clients }};
        Access_type = {{ acl.access }};
    }
    {% endif -%}
    {%- endfor -%}
    {%- endif -%}
    FSAL {
            # Deault to the POSIX FSAL
        Name = VFS;
    }
}
{% endfor %}
